mixin level(data)
    - data = data || {};
    .level(class = data.class)
        .level__slider.slider
        .level__head
            .level__head-title Не владею
            .level__head-title Использую готовые решения
            .level__head-title Использую готовые решения и умею их переделывать
            .level__head-title Пишу сложный JS с нуля